*{
    margin: 0%;
    padding: 0%;
}
#titulo1{
    color: rgb(175, 56, 56);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
   
footer{
    display: flex;
    background-color: black;
   
}

#ubi{
    color: beige;
    font-family: 'Roboto', sans-serif;
}
    

   
    
}
li{
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
                    

#txt1{
    background-color: rgb(150, 96, 35);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border: 3px solid rgb(218, 218, 76);
    grid-area: text;

}



main{ 
    background-color: rgb(170, 18, 18);

    


@media only screen and (max-width:600px){

 

    #tituloDos{
        font-size: 30px;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
}
@media only screen and (min-width: 600px){
   

        #tituloDos{
            font-size: 40px;
        }

    footer{
           flex-direction: column;
           justify-content: center;
           align-items: center;
        
            }
}
@media only screen and (min-width: 768px){

        
        #tituloDos{
            font-size: 50px;
        }

            footer{
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
            }


}

@media only screen and (min-width: 992px){
 
        #tituloDos{
            font-size: 60px;
        }
    footer{
           flex-direction: column;
           justify-content: center;
           align-items: center;
        
          }
}

@media only screen and (min-width: 1200px){

            footer{
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
            }
}
